---
import { Icon } from "astro-icon/components";
import { PHONE_NUMBER } from "../../data/constants";
import Logo from "../logo/Logo.astro";
---

<div
    id="site-header"
    class="fixed inset-x-0 top-0 z-50 bg-gray-100 py-2 md:py-4"
>
    <div
        class="max-w-5xl mx-auto flex items-center justify-center gap-8 lg:gap-12 px-4"
    >
        <!-- Logo -->
        <Logo />
        <!-- Teléfono -->
        <div class="flex items-center gap-2 text-gray-500 font-semibold">
            <Icon name="heroicons:phone-solid" class="w-4 h-4" />
            <a href={`tel:${PHONE_NUMBER}`} class="text-xs md:text-sm">
                {PHONE_NUMBER}
            </a>
        </div>

        <!-- Botón -->
        <a
            href="/contacto/#pedircita"
            class="hidden sm:block rounded-md bg-blue-500 hover:bg-blue-600 text-white font-bold px-5 py-2 text-xs md:text-sm"
        >
            PEDIR CITA
        </a>
    </div>
</div>
